################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TreasureHunter/.vs/TreasureHunter/FileContentIndex/4ef48be2-6121-455b-bc9a-94d17c0da21f.vsidx
/src/TreasureHunter/.vs/TreasureHunter/FileContentIndex/f627cb18-1483-4c11-ac91-aac63ba4d239.vsidx
